@using eTrainingSolution.EntityFrameworkCore.Entities;

@model Classroom;

@{
    ViewData["Tilte"] = "Sửa thông tin của lớp học";
}
<h1>Sửa thông tin của lớp học</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" asp-controller="Classes" asp-area="Identity">
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label class="control-label" asp-for="Name"></label>
                <input asp-for="Name" name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="Capacity"></label>
                <input asp-for="Capacity" name="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="CreateDate"></label>
                <input asp-for="CreateDate" name="CreateDate" class="form-control" type="date" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" asp-for="CreatedBy"></label>
                <input asp-for="CreatedBy" name="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolID" class="control-label"></label>
                <select id="ddlSchool" asp-for="SchoolID" class="form-control" asp-items="ViewBag.SchoolID">
                    <option>Chọn trường học</option>
                </select>
                <span class="text-danger" asp-validation-for="SchoolID"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultID" class="control-label"></label>
                <select id="ddlFacult" asp-for="FacultID" class="form-control" asp-items="ViewBag.FacultID">
                    <option>Chọn Khoa theo học</option>
                </select>
                <span class="text-danger" asp-validation-for="FacultID"></span>
            </div>
            <p></p>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm" value="Edit">Save</button>
                <a asp-action="Index" class="btn btn-danger btn-sm">Quay lại</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddlSchool').change(function () {
                var selectSchool = $('#ddlSchool').val();
                var selectFaculties = $('#ddlFacult');
                selectFaculties.empty();

                if (selectSchool != null && selectSchool != "") {
                    $.getJSON('@Url.Action("GetFacult")', { SchoolID: selectSchool }, function (facultJson) {
                        if (facultJson != null && !jQuery.isEmptyObject(facultJson)) {
                            $.each(facultJson, function (index, city) {
                                selectFaculties.append($('<option>', {
                                    value: city.value,
                                    text: city.text
                                }));
                            });
                        };
                    });
                }
            })
        });
    </script>
}