@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal;
@using eTrainingSolution.WebApp.Areas.Identity.Models.Account.Manage;

@model ChangePassModel

@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<p>Thiết lập lại mật khẩu mới cho tài khoản</p>
@{
    if(Model.status != null)
    {
        <p  class="text-white bg-success">Bạn đã cập nhật mật khẩu thành công!</p>
    }
}
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="ChangePassword">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" name="OldPassword" class="form-control"/>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" name="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <p></p>
            <button asp-action="UpdatePassword" type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}