@using eTrainingSolution.WebApp.Areas.Identity.Models.Account;


@model RegisterConfirmModel
@{
    ViewData["Title"] = "Xác nhận đăng ký";
}

<h1>@ViewData["Title"]</h1>
<p>
    Một email đã gửi đến cho bạn, bạn cần mở email làm theo hướng dẫn trong email sau đó
    <a href="UrlConfirm">Bấm vào đây để tiếp tục</a>
</p>